* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#f5fffa;
    color: #191970;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.header-right, .btn1 {
    margin-right: 20px;
}

.logo {
    cursor: pointer;
    list-style: none;
}
.logo-link {
    font-weight: 900;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.btn1 {
    padding: 9px 25px;
    background-color:#191970;
    border: none;
    color: white;
}

.wrapper {
    display: flex;
    max-width: 70%;
    margin: auto;
}

.left {
    width: 50%;
    margin-top: 100px;
}

.left, h1 {
    font-size: 45px;
}

.btn-head {
    margin-top: 30px;
    
}

.text-child, p {
    font-size: 20px;
    line-height: 1.8;
    padding-top: 20px;
}

.right {
    width: 50%;
    padding: 50px;
}

.btn3 {
    padding: 9px 25px;
    background-color:#7fffd4;
    border: none;
    padding: 20px;
    margin-right: 50px;
}

.text-head span {
    text-shadow: 3px 3px #7fffd4;
}